In [2]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

##

In [3]:
df_raw=[['소주','콜라','맥주'],
       ['소주','콜라','와인'],
       ['소주','주스'],
       ['콜라','맥주'],
       ['소주','콜라','맥주','와인'],
       ['주스']]
df_raw

[['소주', '콜라', '맥주'],
 ['소주', '콜라', '와인'],
 ['소주', '주스'],
 ['콜라', '맥주'],
 ['소주', '콜라', '맥주', '와인'],
 ['주스']]

In [4]:

#Item 중 index 0번을 갖고 있으면, True, 아니면 False
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X=df_raw)


df_asso = pd.DataFrame(df_raw_enc, columns=enc.columns_)
df_asso.head()

      맥주     소주     와인     주스     콜라
0   True   True  False  False   True
1  False   True   True  False   True
2  False   True  False   True  False
3   True  False  False  False   True
4   True   True   True  False   True

In [5]:
# 최소 지지도
min_support = 0.5

# 지지도 계산
df_freq = apriori(df_asso, min_support = min_support, use_colnames=True)
df_freq.round(3)

   support  itemsets
0    0.500      (맥주)
1    0.667      (소주)
2    0.667      (콜라)
3    0.500  (콜라, 맥주)
4    0.500  (콜라, 소주)

In [6]:
# 기준 = 신뢰도, 최소 신뢰도(threshold) =0.5
df_asso_rule = association_rules(df_freq, metric="confidence",min_threshold=0.5)
df_asso_rule.round(3).sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(맥주),(콜라),0.500,0.667,0.5,1.00,1.500,0.167,inf
0,(콜라),(맥주),0.667,0.500,0.5,0.75,1.500,0.167,2.000
2,(콜라),(소주),0.667,0.667,0.5,0.75,1.125,0.056,1.333
3,(소주),(콜라),0.667,0.667,0.5,0.75,1.125,0.056,1.333