문제 1

In [ ]:
F=int(input("화씨온도: "))
print("섭씨온도: %f"%((F-32)*5/9))

화씨온도: 100
섭씨온도: 37.777778

문제 2

In [ ]:
money= int(input("투입한 돈: "))
item = int(input("물건값: "))
print("500원짜리: %d개"%((money-item)//500))
print("100원짜리: %d개"%(((money-item)%500)//100))

투입한 돈: 5000
물건값: 2700
500원짜리: 4개
100원짜리: 3개

문제3

In [ ]:
radius= int(input("반지름을 입력하시오: "))
pi =3.141592
print("원 둘레: %.2f"%(2*pi*radius))
print("원 넓이: %.2f"%(pi*radius**2))

반지름을 입력하시오: 5
원 둘레: 31.42
원 넓이: 78.54

문제4

In [ ]:
numbers=input('Enter two integers: ')

Enter two integers: 8 5

In [ ]:
a,b =map(int,numbers.split())

In [ ]:
print("%s ""+"" %s" " =" " %s"%(a,b,a+b))
print("%s ""-"" %s" " =" " %s"%(a,b,a-b))
print("%s ""*"" %s" " =" " %s"%(a,b,a*b))
print("%s ""/"" %s" " =" " %s"%(a,b,a/b))
print("%s ""%%"" %s" " =" " %s"%(a,b,a%b))

8 + 5 = 13
8 - 5 = 3
8 * 5 = 40
8 / 5 = 1.6
8 % 5 = 3

문제5

In [ ]:
numbers = input('Enter two integers:')

Enter two integers:70 91

In [ ]:
a,b = map(int, numbers.split())

In [ ]:
print("The sum of %d and %d is %d"%(a,b,a+b))
print("The average of numbers is %.1f"%((a+b)/2))

The sum of 70 and 91 is 161
The average of numbers is 80.5

문제 6

In [ ]:
date = input('날짜(연/월/일)입력: ')

날짜(연/월/일)입력: 2020/11/02

In [ ]:
year,month,day = map(int, date.split('/'))

In [ ]:
print("입력한 날짜의 10년 후는 %d년 %d월 %d일"%(year+10,month,day))

입력한 날짜의 10년 후는 2030년 11월 2일