문제 11번- 숫자를 입력받아서 별 찍기 부터

In [1]:
x = input("Input an integer")
for a in x:
    print("★"*int(a))

Input an integer3159
★★★
★
★★★★★
★★★★★★★★★

In [2]:
a= '3159'
for x in a:
    print('')
    for y in range(int(x)):
        print("★",end='')

★★★
★
★★★★★
★★★★★★★★★

In [3]:
colors = list()
type(colors)

list

In [4]:
colors.append("red")
colors.append("green")
colors.append("blue")
print(colors)

['red', 'green', 'blue']

In [5]:
colors.append("red")

In [7]:
colors.remove("red")

In [8]:
colors

['green', 'blue', 'red']

# sort 함수속성 shift+ tab

In [10]:
a= [1,7,9,2,5]

In [13]:
a.sort()
a

[1, 2, 5, 7, 9]

In [15]:
a.sort(reverse=True)
a

[9, 7, 5, 2, 1]

In [16]:
b=sorted(a)
b

[1, 2, 5, 7, 9]

In [21]:
a_ = sorted(a)
a

[9, 7, 5, 2, 1]

In [23]:
f= a.sort()
print(f)

None

In [24]:
list=[]
for a in range(1,11):
    list.append(a)
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
sum(list)

55

In [26]:
max(list)

10

In [27]:
min(list)

1

In [34]:
list=[]

while(True):
    num=(input("Enter a number: "))
    if num=="done":
        break
    else:
        list.append(float(num))
print(list)
print("Average: %.1f"%(sum(list)/len(list)))
print("Maximum: %.1f"%max(list))
print("Minimum: %.1f"%min(list))

Enter a number7
Enter a number2
Enter a number9
Enter a number3
Enter a number5
Enter a numberdone
[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maxium: 9.0
Mininum: 2.0

## 튜플- function return 값

a.count() , a.index()

In [35]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3 ##############

In [36]:
t=(1,2,3,4,5,6)
t[0]

1

In [41]:
t[:3]

(1, 2, 3)

In [42]:
t[4:6]

(5, 6)

In [43]:
t1= (1,2)
t2=('a','b')
t3=t1+t2

In [48]:
t3[0:]*3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [50]:
a= 1,2,3

In [51]:
one,two,three = a

In [52]:
print(one, two, three)

1 2 3

In [53]:
a

(1, 2, 3)

In [54]:
a.index(1)

0

In [55]:
a.count(1)

1

In [57]:
a.index(3)

2

# Set(집합)- list base

s.add, s.remove, s.update, s.discard, s.clear(), s.union, s.intersection(), s1-s2, s1|s2, s1 & s2

In [58]:
s1=set([1,2,3])

In [59]:
s1

{1, 2, 3}

In [63]:
s1.add('4')
s1

{1, 2, 3, '4'}

In [65]:
s2=set()
type(s2)

set

In [71]:
s={1,2,3,4,5,3,4}
s

{1, 2, 3, 4, 5}

In [72]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [73]:
s.update([5,6,7,8])
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
s.discard(5)
s

{1, 2, 3, 4, 6, 7, 8}

In [2]:
word = "hello"*2
word

'hellohello'

In [3]:
list_word=list(word)
list_word

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [4]:
set_word=set(word)

In [5]:
set_word

{'e', 'h', 'l', 'o'}

In [6]:
set_word.discard('e')

In [7]:
set_word

{'h', 'l', 'o'}

In [8]:
set_word.remove('l')
set_word

{'h', 'o'}

In [2]:
s1=set([1,2,3])
s2=set([2,3,4])

In [5]:
s1-s2

{1}

In [6]:
s1 &s2

{2, 3}

In [7]:
s1.union(s2)

{1, 2, 3, 4}

In [8]:
s1.intersection(s2)

{2, 3}

In [9]:
s1 | s2

{1, 2, 3, 4}

## dictionary

a.keys(), d.values(), d.items(), del d['keys'], d.clear()

In [10]:
d={}
d['kim']=1
d['park']=2
d

{'kim': 1, 'park': 2}

In [11]:
d['park']

2

In [12]:
d['kim']

1

In [13]:
d['youn']=1

In [14]:
d

{'kim': 1, 'park': 2, 'youn': 1}

In [15]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [16]:
d.items()

dict_items([('kim', 1), ('park', 2), ('youn', 1)])

In [17]:
for key,value in d.items():
    print(key, value)

kim 1
park 2
youn 1

In [18]:
d.values()

dict_values([1, 2, 1])

In [26]:
d

{'kim': 1, 'park': 2, 'youn': 1}

In [28]:
'kim' in d

True

## 딕셔너리 실습1

In [30]:
sen_dict=dict()
sen = input("Enter a sentence: ")
for a in sen:
    if sen_dict.get(a) ==None:
        sen_dict[a]=1
    else :
        sen_dict[a]+=1
print(sen_dict)

Enter a sentence: python is fun!
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [36]:
dic = dict()
sen = "hello"
set_sen = set(sen)
for ch in sen:
    dic[ch] =sen.count(ch)
print(set_sen)

{'h', 'e', 'l', 'o'}

## FILE I/O

In [40]:
fw = open("new.txt","w")

In [41]:
for i in range(1,6):
    data = "%d line\n" % i 
    fw.write(data)

In [42]:

fw.close()

In [43]:
fr = open("new.txt","r")

In [44]:
fr.tell()

0

In [46]:
fr.readline()

'1 line\n'

In [47]:
fr.readline()

'2 line\n'

In [48]:
fr.readline()

'3 line\n'

In [49]:
fr.readline()

'4 line\n'

In [50]:
fr.readline()

'5 line\n'

In [51]:
fr.readline()

''

In [55]:
f = open("new.txt","r")
for r in f:
    print(r, end='')

1 line
2 line
3 line
4 line
5 line

In [88]:
f_dic=dict()
f = open("text.txt","r")
data = f.read()
a=data.split()
for x in a:
    if f_dic.get(x)==None:
        f_dic[x]=1
    else:
        f_dic[x]+=1
for x,y in f_dic.items():
    print(x,y)

first 1
line 3
second 1
thrid 1